MNIST
mnist_result
linear_result
nonlinear_result
covid_ct_result
models
output
fmnist_result
cifar10_result
cifar100_result
__pycache__
CIFAR10
CIFAR100
data
.vscode
FashionMNIST
best_acc_trimming_change
best_acc_linear
best_acc_nonlinear
best_acc_covid_ct
new_data
covid_ct_data
mnist_data
linear_data
nonlinear_data
*.png
